# Dependencies
node_modules
node_modules/

# Build output
dist
dist/

# Environment variables
.env
.env.local
.env.*.local

# Cloudflare / Deployments
.wrangler
.wrangler/

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
